<h4>Name: Trần Đại Chí</h4>
<h4>Student ID: 18127070</h4>

In [5]:
import pandas as pd

df = pd.read_csv('weatherPrediction2.csv')
df

     Outlook Temperature Humidity  Wind speed Play cricket
0      Sunny         NaN     High         4.0           No
1      Sunny         NaN     High        20.0           No
2   Overcast         Hot     High         6.0          Yes
3       Rain        Mild     High         2.0          Yes
4       Rain        Cool   Normal         7.0          Yes
5       Rain         NaN   Normal         NaN           No
6   Overcast        Cool   Normal        22.0          Yes
7      Sunny         NaN     High         4.0           No
8      Sunny        Cool   Normal         5.0          Yes
9       Rain        Mild   Normal         6.0          Yes
10     Sunny        Mild   Normal         NaN          Yes
11  Overcast        Mild     High         2.0          Yes
12  Overcast         NaN   Normal         8.0          Yes
13      Rain        Mild     High        18.0           No

In [14]:
df['Wind speed'].fillna(value=df['Wind speed'].mean(), inplace=True)
df

     Outlook Temperature Humidity  Wind speed Play cricket
0      Sunny         NaN     High    4.000000           No
1      Sunny         NaN     High   20.000000           No
2   Overcast         Hot     High    6.000000          Yes
3       Rain        Mild     High    2.000000          Yes
4       Rain        Cool   Normal    7.000000          Yes
5       Rain         NaN   Normal    8.666667           No
6   Overcast        Cool   Normal   22.000000          Yes
7      Sunny         NaN     High    4.000000           No
8      Sunny        Cool   Normal    5.000000          Yes
9       Rain        Mild   Normal    6.000000          Yes
10     Sunny        Mild   Normal    8.666667          Yes
11  Overcast        Mild     High    2.000000          Yes
12  Overcast         NaN   Normal    8.000000          Yes
13      Rain        Mild     High   18.000000           No

In [15]:
df['Temperature'].fillna(value=df['Temperature'].mode().values[0], inplace=True)
df

     Outlook Temperature Humidity  Wind speed Play cricket
0      Sunny        Mild     High    4.000000           No
1      Sunny        Mild     High   20.000000           No
2   Overcast         Hot     High    6.000000          Yes
3       Rain        Mild     High    2.000000          Yes
4       Rain        Cool   Normal    7.000000          Yes
5       Rain        Mild   Normal    8.666667           No
6   Overcast        Cool   Normal   22.000000          Yes
7      Sunny        Mild     High    4.000000           No
8      Sunny        Cool   Normal    5.000000          Yes
9       Rain        Mild   Normal    6.000000          Yes
10     Sunny        Mild   Normal    8.666667          Yes
11  Overcast        Mild     High    2.000000          Yes
12  Overcast        Mild   Normal    8.000000          Yes
13      Rain        Mild     High   18.000000           No